html{

}
body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
.main-wrapper{
    height: 100vh;
    display: flex;
    background-color: rgb(249, 250, 250);
}
.navbar{
    width: 30%;
    height: 100vh;
    border-right: 1px solid rgb(210, 208, 208);
    background-color: white;
    /* border: 1px solid black; */
}
.main-area{
    width: 100%;
    /* border: 2px solid blueviolet; */
}

/* .stories-wrapper{
    width: 40%;

    margin-top: 4em;
} */
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex-space{
    display: flex;
    margin-top: 2.5em;
}
.nav-link{
    font-size: 1.2rem;
    text-align: left;
    margin: 0 1em;
    color: black;
}
#bold-text{
    font-weight: 700;
   
}
.profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: .65em;
}
/* .stories-flex{
    display: flex;
    
}

.name-flex{
    display: flex;
    flex-direction: column;
}
.stories-flex, .stories-link{
    margin-left: 8em;
} */
.friend-suggestion-flex{
  display: flex;
  flex-direction: row;

}
.flx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}
.name-flex{
    display: flex;
    flex-direction: column;
    margin-bottom: .25em;
}
.links-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.find-friends-wrapper{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-right: 10em;
    
}
.profile-image-small{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: .55em;
   margin-top: .25em;
}

.smaller-image{
    border-radius: 50px;
    height: 20px;
    width: 20px;
    object-fit: cover;
 
}
.icons{
    font-size: 1.4rem;
}
.logo-set{
    margin: 2em 1em;
}
.bold-name{
    font-weight: 600;
    color: black;
}
.fade-name{
    color: rgb(167, 165, 165);
}
.follow-link{
    font-size: 12px;
    color:#47afff ;
    font-weight: 700;
    margin-top: 1.5em;
}
.grey-link{
    font-size: 12px;
    font-weight: 500;
    color: rgb(207, 206, 206);
}
.year{
    font-weight: 500;
    color: rgb(207, 206, 206);
    font-size: .75rem;
}
.small-text{
    font-size: 14px;
    font-weight: 500;
}