
body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: rgb(249, 250, 250);
}
.main-wrapper{
    height: 100vh;
    display: flex;
 
}
.navbar{
    width: 18%;
    height: 100vh;
    border-right: 1px solid rgb(210, 208, 208);
    background-color: white;
    position: fixed;
    /* border: 1px solid black; */
}
.main-area{
    width: 100%;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex-space{
    display: flex;
    margin-top: 2.5em;
}
.nav-link{
    font-size: 1.2rem;
    text-align: left;
    margin: 0 1em;
    color: black;
}
#bold-text{
    font-weight: 700;
   
}
.profile-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: .65em;
}

.insta-stories{
    border: 1px solid gainsboro;
    float: right;
    margin-right: 2em;
    width: 50.5%;
    border-radius: 8px;
    background: white;
    margin-top: 1.5em;
}
.stories{
  display: flex;
  justify-content: space-between;
}
.stories-img{
    width: 56px;
    height: 56px;
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(45deg,orange, purple, rgb(246, 2, 165)) border-box;
border: 3px solid transparent;
border-radius: 50px;
}
.post-icon{
    display: flex;
  
}
._ab6-{
   margin-left: 1em;
}
.my-post-title{
    margin: 0 1em;
    line-height: 1;
}
.comment-section{
    display: flex;
    justify-content: space-between;
    margin-right: .5em;
}
.comment-emoji{
margin-bottom: .5em;
}
.input-comment{
    outline: none;
    border: none;
    resize: none;
}
.stories-text{
    font-size: 12px;
}

.friend-suggestion-flex{
  display: flex;
  flex-direction: row;

}
 .middle-container{
    background-color: white;
    margin-top: 1em;
    width: 50.5%;
    float: right;
    margin-right: 2em;
    border: 1px solid gainsboro;
    border-radius: 8px;
 }
 .sub-middle-container{
    display: flex;
    justify-content: space-between;
    margin: 1em;
 }
 .inner-container{
    display: flex;
   
 }
 .dotted-line{
    justify-content: center;
    margin-top: 1em;
 }

 .username{
    font-size: 14px;
    font-weight: 500;
    order: 1;
 }
 .friends-profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: .5em;
    object-fit: cover;
    order: -1;
 }
.flx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}
.name-flex{
    display: flex;
    flex-direction: column;
    margin-bottom: .25em;
}
.links-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.find-friends-wrapper{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-right: 18%;
    
}
.profile-image-small{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: .55em;
   margin-top: .25em;
}

.smaller-image{
    border-radius: 50px;
    height: 20px;
    width: 20px;
    object-fit: cover;
 
}
.icons{
    font-size: 1.4rem;
}
.logo-set{
    margin: 2em 1em;
}
.bold-name{
    font-weight: 600;
    color: black;
}
.fade-name{
    color: rgb(167, 165, 165);
}
.follow-link{
    font-size: 12px;
    color:#47afff ;
    font-weight: 700;
    margin-top: 1.5em;
}
.grey-link{
    font-size: 12px;
    font-weight: 500;
    color: rgb(207, 206, 206);
}
.year{
    font-weight: 500;
    color: rgb(207, 206, 206);
    font-size: .75rem;
}
.small-text{
    font-size: 14px;
    font-weight: 500;
}